@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #142a56;
    --secondary-color: #435F96;
    --accent1-color: #2ad7c9;
    --accent2-color: #456B6B;
    --accent3-color: #354141;
    --accent4-color: #ffffff;

    --title-font: "Raleway", Lato, Helvetica;
    --heading-font: "Lato", sans-serif;
    --paragraph-font: "Raleway", Lato, Helvetica;

    --headline-color-on-white: var(--accent3-color);
    --headline-color-on-color: #ffffff;
    --paragraph-color-on-white: var(--secondary-color);
    --paragraph-color-on-color: #ffffff;
    --paragraph-font: var(--accent4-color);

    --paragraph-background-color: var(--secondary-color);
    --nav-link-color: #ffffff;
    --nav-background-color: var(--accent1-color);
    --nav-hover-link-color: var(--accent3-color);
    --nav-hover-background-color: var(--accent1-color);
}


body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem;
    font-size: 18px;
}

.primary,
.secondary,
.accent2 {
    color: var(--accent4-color);
}

.accent3 {
    background-color: var(--accent3-color);
    color: var(--accent4-color);
}

img {
    margin-left: 6rem;
}

h1 {
    font-family: var(--title-font);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

h2 {
    text-align: center;
}

hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
}

header {
    padding: 1rem;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--primary-color);
}

header>h1,
header>h2 {
    color: var(--headline-color-on-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1rem;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 20%;
    height: 3rem;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--accent4-color);
}

nav {
    background-color: var(--accent3-color);
    line-height: 3rem;
    text-align: center;
    font-size: 1.2rem;
}

nav {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1rem;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.sitremap {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3rem 1.5rem 1.5rem 3rem;
    grid-template-areas:
        ". . home home . ."
        ". . . top . ."
        ". left left right right ."
        "page2 page2 . . page3 page3";
}

.sitremap>div {
    text-align: center;
}

.sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3rem;
}

.sm-page2 {
    grid-area: page2;
    background-color: #ccc;
    line-height: 3rem;
}

.sm-page3 {
    grid-area: page3;
    background-color: #ccc;
    line-height: 3rem;
}

.top {
    grid-area: top;
    border-left: 1px solid;
}

.left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
}

.right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
}

.logo {
    width: 100px;
}

.wireframe {
    width: 70%;
}

footer {
    text-align: center;
    padding: 1rrem;
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-color);
}