@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --primary-color: #435F96;
    --secondary-color: #142a56;
    --accent1-color: #3dc1c5;
    --accent2-color: #456B6B;
    --accent3-color: #354141;
    --accent4-color: #ffffff;
}

.noto-sans-uniquifier {
    font-family: "Noto Sans", serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html {
    font-family: "Noto-sans", serif;
}

h4 {
    font-size: 1.2rem;
    color: black;
    text-align: left;
    padding: 0.2rem;
}

form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #5c5b5b;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    gap: 1rem;
}

.form-item {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
}

fieldset {
    display: grid;
    grid-gap: 0.2rem;
    margin: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

input#binding {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 30px;
    height: 30px;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
    margin-bottom: 0;
}

input,
select,
textarea {
    padding: 0.5rem;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus {
    outline: #3dc1c5;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(67, 95, 150, 0.5);
}

button {
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent1-color);
}

.checkbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    align-items: start;
}

.checkbox-item p {
    margin-left: 1rem;
    color: #333;
}

.checkbox input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}

.checkbox label {
    margin: 0;
    padding: 0.5rem 0;
    margin-right: 1rem;
}

.stitch .checkbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    width: 30px;
    height: 30px;
}

.custom-select {
    position: relative;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
}

.selected-option {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    display: none;
    z-index: 1000;
}

.options-container.active {
    display: block;
}

.option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.option img {
    margin-right: 10px;
}

.option:hover {
    background-color: #f0f0f0;
}