@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --primary-color: #435F96;
    --secondary-color: #142a56;
    --accent1-color: #3dc1c5;
    --accent2-color: #456B6B;
    --accent3-color: #354141;
    --accent4-color: #ffffff;
}

.noto-sans-uniquifier {
    font-family: "Noto Sans", serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html {
    font-family: "Noto-sans", serif;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0turn;
    inherits: false;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;    
}

.card {
    animation: 2s gradient-angle infinite linear;
    border: 8px solid transparent;
    background-image: linear-gradient(#e0f1f6, #7ea1cc),
        conic-gradient(from var(--gradient-angle),
            #1a237e 0%,
            #3949ab 37%,
            #e3f2fd 30%,
            #5664c1 33%,
            #1a237e 40%,
            #1a237e 50%,
            #3949ab 77%,
            #e3f2fd 80%,
            #3949ab 83%,
            #0f1552 90%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1rem;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
}


@keyframes gradient-angle {
    to {
        --gradient-angle: 1turn;
    }
}

@media (min-width: 768px) {
    .card {
        display: grid;
        margin: 1rem;
        padding: 1rem;
    }

    .card-info {
        background: transparent;
        height: 100vh;
        width: 100vh;
        display: grid;
        place-items: center;
        padding: 1rem;
        gap: 1rem;
        align-content: center;
    }

    .card-img {
        position: fixed;
        top: 0;
        right: 0;
        left: 40%;
        bottom: 0;
        height: auto;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}
