@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --primary-color: #435F96;
    --secondary-color: #10254e;
    --accent1-color: #3dc1c5;
    --accent2-color: #456B6B;
    --accent3-color: #354141;
    --accent4-color: #ffffff;
}

.noto-sans-uniquifier {
    font-family: "Noto Sans", serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html {
    font-family: "Noto-sans", serif;
}

article {
    max-width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: calc(100vh - var(--info-size)) var(--info-size);
    view-timeline: --article;
}

.article-info {
    margin-top: -1rem;
    padding: 1rem;
}

.article-img {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 2;
    animation: in-n-out both linear;
}

article img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* height: calc(100vh - var(--info-size)); */
    height: calc(100vh - var(--info-size));
    animation: filter-out both linear;
    /* animation-range: exit 0% cover 100%; */
}

.article-img,
article img {
    animation-timeline: --article;
    object-fit: cover;
    height: calc(100vh - var(--info-size));
    animation: filter-out both linear;

}

.article-info {
    text-align: center;
    z-index: 2;
    display: grid;
    place-items: center;
    align-content: center;
    gap: 0.5rem;
    height: var(--info-size);
}

@keyframes brighten {
    0% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes clip-out {
    0% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        filter: brightness(0.5);
        clip-path: inset(100% 0 0 0);
    }
}

p.story-paragraph {
    color: var(--accent4-color);
    font-style: italic;
    font-size: 1rem;
    line-height: 1.8;
    text-align: justify;
    margin: 2rem auto;
    max-width: 1600px;
    padding: 3rem;
    background: var(--secondary-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p.story-paragraph img {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    margin: 1rem;
    object-fit: cover;
}

@media (min-width: 768px) {
    article {
        width: 100%;
        display: grid;
        place-items: start;
        z-index: calc(var(--count, 10) - var(--index, 0));
        position: relative;
        grid-template-rows: unset;
    }

    article img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        height: calc(100vh - var(--info-size));
        height: calc(var(--section-height) - var(--info-size));
        animation: filter-out both linear;
        animation-range: exit 0% cover 100%;
    }

    .article-info {
        background: transparent;
        height: 100vh;
        width: 40%;
        display: grid;
        place-items: center;
        align-content: center;
    }

    .article-img {
        position: fixed;
        top: 0;
        right: 0;
        left: 40%;
        bottom: 0;
        height: auto;
    }

    .article-img {
        animation: brighten both linear;
    }

    .article-img img {
        animation: clip-out both linear;
        height: 100%;
    }

    .article-img,
    .article-img img {
        animation-timeline: --article;
    }
}

@media (max-width: 768px) {
    .story {
        flex-direction: column;
        align-items: center;
    }

    .story p {
        flex-direction: column;
        align-items: center;
    }

    .story-image {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

main h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin: 0 auto;
}