@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Mobile view */
@media (max-width: 767px) {
    body {
        display: block;
        padding: 1rem;
    }

    nav {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        max-height: none;
    }

    .nav-links.active {
        max-height: none;
    }

    .nav-links.active a {
        font-size: 1rem;
    }

    .hamburger {
        margin-left: 0;
    }

    main {
        padding: 1rem;
    }

    main h1 {
        font-size: 1.25rem;
    }

    main a {
        font-size: 1rem;
    }

    .card {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    footer {
        padding: 1rem;
    }

    article {
        grid-template-rows: 1fr;
    }

    .article-img {
        position: relative;
        height: auto;
    }

    .article-info {
        height: auto;
        width: 100%;
    }

    .story-paragraph {
        flex-direction: column;
        align-items: center;
    }

    .story-paragraph img {
        width: 100%;
        height: auto;
    }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        display: block;
        padding: 1rem;
    }

    nav {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        max-height: none;
    }

    .nav-links.active {
        max-height: none;
    }

    .nav-links.active a {
        font-size: 1.25rem;
    }

    .hamburger {
        margin-left: 0;
    }

    main {
        padding: 1rem;
    }

    main h1 {
        font-size: 1.5rem;
    }

    main a {
        font-size: 1.25rem;
    }

    .card {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    footer {
        padding: 1rem;
    }

    article {
        grid-template-rows: 1fr;
    }

    .article-img {
        position: relative;
        height: auto;
    }

    .article-info {
        height: auto;
        width: 100%;
    }

    .story-paragraph {
        flex-direction: column;
        align-items: center;
    }

    .story-paragraph img {
        width: 100%;
        height: auto;
    }
}
