/* Responsive styles */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

    .nav-links a {
        font-size: 1.5rem;
    }

    .hamburger-menu[aria-expanded="true"]+.nav-links {
        display: flex;
    }

    nav h1 {
        font-size: 1.2rem;
        margin-left: 2.2rem;
    }

    footer p,
    footer a {
        font-size: 1.5vh;
    }

    main {
        padding-bottom: 5rem;
    }
}

@media (max-width: 480px) {

    header,
    nav,
    main,
    footer {
        padding: 0.5rem;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    nav h1 {
        font-size: 1rem;
        margin-left: 3rem;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        padding-bottom: 5rem;
    }

    main h2 {
        font-size: 1.5rem;
        margin-top: 4rem;
        margin-bottom: 0;
    }

    button text {
        font-size: 0.9rem;
    }

    main p {
        font-family: var(--paragraph-font);
        font-size: 1rem;
        font-weight: 300;
        margin: 2rem;
        margin-bottom: 0;
        padding: 0;
    }

    footer p,
    footer a {
        font-size: 1.2vh;
    }
}