:root {
    --primary-color: #7d6c00;
    --secondary-color: #d3472e;
    --tertiary-color: #fa8e41;
    --font-family: 'Merriweather', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    font-family: 'Merriweather', sans-serif;
    overflow-x: hidden;
}

header,
main,
footer {
    max-width: 1960px;
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    margin: 1rem auto;

}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background: var(--primary-color);
    margin-bottom: 5px;
    align-items: flex-end;
}

header img {
    margin-left: 2rem;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    margin-left: 1rem;
    text-align: left;
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
}

/* NAVIGATION */
nav {
    margin-left: auto;
    margin-right: 2rem;
}

ul.nav-links,
ul.nav-links a {
    display: flex;
    gap: 15px;
    font-size: 2rem;
    color: white;
    margin-left: auto;
    list-style-type: none;
    text-decoration: none;
}

main {
    flex: 1;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero img {
    width: 100%;
    height: auto;
}

div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    color: black;
}

.data-container {
    position: absolute;
    top: 25px;
    left: 25px;
    background: rgba(255, 255, 255, 0.6);
    margin: 0;
    max-width: 245px;
    text-align: right;
    padding: 0.5rem;
    color: black;
}

.data-container h2 {
    margin: 0;
    padding: 0.3rem;
    text-align: left;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.7);
}

.data-container ul {
    padding: 0;
    list-style-type: none;
    color: black;
    font-weight: 500;
}

li {
    padding: 0.3rem;
    font-weight: 500;
}

aside.card.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background: rgba(255, 255, 255, 0.6);
    margin: 10px;
    margin-bottom: 15px;
    max-width: 600px;
    text-align: center;
    padding: .8rem;
    color: black;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

p {
    margin: 0;
    padding: 0.3rem;
}

aside.card.weather h2 {
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
    text-align: center;
    color: black;
    font-weight: 500;
    padding: 0.3rem;
    width: 100%;
}

.weather-icon {
    width: 24px;
    /* Fixed width */
    height: 24px;
    /* Fixed height */
    margin-left: 0.5rem;
}

footer {
    color: #FFFF00;
    background: var(--secondary-color);
    padding: 0.5rem;
}

@media (max-width: 600px) {
    div.overlay {
        flex-direction: column;
        align-items: center;
        position: static;
        width: 100%;
        background: var(--tertiary-color);
    }

    .data-container,
    aside.card.weather {
        position: static;
        width: 100%;
        margin: 0;
        padding: 1rem;
    }

    .data-container h2 {
        text-align: center;
    }

    aside.card.weather {
        margin-top: 1rem;
        color: black;
    }

    .weather-icon::before {
        display: none;
        /* Hide the original icon */
    }

    aside.card.weather h2::after {
        content: url('images/weather-icon.svg');
        /* Path to your SVG icon */
        display: inline-block;
        width: 24px;
        /* Adjust size as needed */
        height: 24px;
        /* Adjust size as needed */
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
    }
}