/* BUSINESS CARDS CONTAINER - GRID VIEW (Default) */
.business-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    gap: 1.5rem;
    transition: all 0.3s ease;
}

h3 {
    font-size: 1.8rem;
    color: #13897ff4;
    margin-bottom: 1rem;
}

.business-cards .business-card {
    background: #F4EDEDCC;
    border: 0.1875rem solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-cards .business-card:hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.2);
}

.business-cards .business-card img {
    width: 9.375rem;
    height: 9.375rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 0.3125rem;
}

/* LIST VIEW STYLES */
.business-cards.list-view {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.business-cards.list-view .business-card p {
    justify-content: center;
}

.business-cards.list-view .business-card,
.business-cards.list-view .business-card a {
    display: flex;
    flex-direction: row;
    border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.1);
    background: #F4EDEDCC;
    margin-top: 0.3125rem;
}

.business-cards.list-view .business-card img {
    margin: auto;
}

.business-cards.list-view .business-card:nth-child(even) {
    background-color: #e6ffe6;
}

@media (max-width: 1024px) {
    .business-cards {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 600px) {
    .business-cards.list-view .business-card {
        flex-direction: column;
        align-items: center;
    }

    .business-cards.list-view .business-info {
        grid-template-columns: repeat(3, 1fr);
    }
}

.business-cards-controls {
    text-align: center;
    margin: 30px 0;
}

#toggleViewBtn {
    padding: 10px 20px;
    font-size: 1.8rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#toggleViewBtn:hover {
    background-color: #12b300;
}