.bunny {
    display: inline-block;
    animation: hop 1s infinite;
}

@keyframes hop {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}