@font-face {
    font-family: 'Lato';
    src: url('https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPHA.woff2') format('woff2');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-size: 0.6em;
}

header {
    margin: 0 auto;
    width: 325px;
}

h1 {
    margin: 0.1rem;
    font-size: 1.5rem;
    color: #000080;
    text-align: center;
}

h4 {
    font-size: 0.5rem;
    color: black;
    text-align: left;
    padding: 0.2rem;
}

ul.nav-links.active {
    align-items: center;
    display: flex;
    align-self: center;
    text-decoration: none;
    color: #333;
    font-size: 0.5rem;
    padding: 1rem;
}

form {
    width: 325px;
    margin: 0 auto;
    padding: 0.2rem;
    border: 1px solid #5c5b5b;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

.form-item {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
}

fieldset {
    display: grid;
    grid-gap: 0.2rem;
    margin: 0.05rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}

legend {
    padding: 0.2rem;
    color: navy;
    font-size: 1.5em;
    margin-bottom: 0;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    padding: 0.5rem 0.1rem;
}

input,
select,
textarea {
    padding: 0.2rem;
    font-size: 0.5rem;
    height: 44px;
}

button {
    padding: 0.5rem;
    font-size: 0.5rem;
    background-color: navy;
    color: #fff;
    border: #5d5c5c;
    border-radius: 0.5rem;
    cursor: pointer;
    height: 44px;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 0.5rem auto 0;
    width: 320px;
    text-align: center;
    font-size: 0.4em;
    color: #5d5c5c;
    border-top: 1px solid #5d5c5c;
}

.form-item {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
}

.checkbox {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.0025rem;
}

.checkbox-item {
    display: flex;
    align-items: center;
}

.checkbox input[type="checkbox"] {
    width: 20px;
    /* Increased size */
    height: 20px;
    /* Increased size */
    margin-right: 0.5rem;
    /* Adjusted margin */
}

.checkbox label {
    margin: 0;
    padding: 0.5rem 0;
    /* Increased padding */
    margin-right: 0.5rem;
    /* Adjusted margin */
}

.rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0;
}

.rating-container label {
    margin: 0;
    padding: 0;
    margin-left: -0.8rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
}