* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box
}

body {
    width: 100%;
    max-width: 1600px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    grid-template-areas: "header" "main" "footer";
    display: grid;
    transition: all 0.3s ease-in-out
}

header,
footer {
    width: 100%;
    background: #d2cabf;
    text-align: center;
    transition: all 0.3s ease-in-out
}

footer p {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-align: center;
    transition: all 0.3s ease-in-out
}

div.header-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    transition: all 0.3s ease-in-out
}

header img {
    width: 170px;
    height: 180px;
    margin: 0.5rem 0 0.5rem 0;
    transition: all 0.3s ease-in-out
}

h1,
h2 {
    font-weight: 400;
    color: #000;
    padding: 1.5rem;
    font-size: 1.8rem;
    transition: all 0.3s ease-in-out
}

header ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 1rem;
    list-style-type: none;
    background: #ffc0c0;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box
}

ul {
    list-style-type: square;
    padding: 1rem;
    transition: all 0.3s ease-in-out
}


a:hover {
    border: 10px solid #d28750 #fff0;
    padding: .5rem;
    border-radius: 5px;
    color: #000;
    font-weight: 700;
    width: auto;
    display: inline-block
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .8rem;
    background: #c7e4e4;
    padding: 1rem;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out
}

.card {
    border: .8px solid #111010 #fff0;
    border-radius: 5px;
    background: #cedde5;
    box-shadow: 0 4px 8px rgb(0 0 0 / .5);
    transition: all 0.3s ease-in-out
}

.card h2 {
    background-color: #fdf8d3;
    color: #000;
    text-align: center;
    margin: 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out
}

main img {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 0.5rem;
    transition: all 0.3s ease-in-out
}

main li::marker {
    color: #d5c4b8;
    transition: all 0.3s ease-in-out
}

div.course-work {
    padding: 1rem;
    margin-left: 1rem;
    transition: all 0.3s ease-in-out
}

section.third-card {
    grid-area: third-card;
    grid-column: 1 / 3;
    width: 100%;
    transition: all 0.3s ease-in-out
}

aside.card {
    background: #dcf5e3;
    transition: all 0.3s ease-in-out
}

div.total-credits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    transition: all 0.3s ease-in-out
}

.third-card ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    transition: all 0.3s ease-in-out
}

.third-card ul li {
    flex: 1 1 calc(33.333% - 3rem);
    background: #ffc0c0;
    border: #d2cabf #fff0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease
}

.third-card aside.card>ul li:nth-child(-n+3) a {
    background-color: #c4997b;
    color: #000;
    transition: all 0.3s ease-in-out
}

.third-card ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out
}

footer img {
    width: 60px;
    height: 40px;
    margin-left: 1rem;
    margin-top: .3rem;
    transition: all 0.3s ease-in-out
}

.course-work ul {
    column-count: 2;
    column-gap: 2rem;
    padding: 0;
    transition: all 0.3s ease-in-out
}

.course-work ul li {
    break-inside: avoid;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out
}

.course-work ul li:nth-child(6) {
    break-after: column;
    transition: all 0.3s ease-in-out
}

.hamburger-menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer
}

a:visited {
    color: rgb(11, 11, 128)
}

* {
    box-sizing: border-box
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(194, 191, 191, 0.5)
}

.modal-content {
    background-color: #fff;
    margin: 1rem;
    padding: 10px;
    font-size: 2rem;
    border: 30px solid #888 #fff0;
    width: 40%;
    margin-top: 15%;
    margin-left: 30%;
    border-radius: 25px
}

.modal p {
    font-size: 1.2rem;
    color: #000;
    text-align: left;
    margin: 0 auto;
    padding: 1rem;
}

.close-button {
    color: #000;
    float: right;
    font-size: 5rem;
    font-weight: 700;
    cursor: pointer
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none
}

h1 {
    font-size: 2rem;
    color: #000;
    margin: 0;
    padding: 1.5rem;
    font-weight: 400
}

h2 {
    font-size: 1.5rem;
    color: #000;
    margin: 0.5rem;
    font-weight: 400;
    padding: 0.5rem;
}

p,
li,
a {
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    text-align: center
}

li {
    padding: 0.5rem;
    text-align: left;
}

ul.nav-links {
    padding: 0.5rem;
}